@import "helper/variables";
@import "helper/buttons";
@import "helper/media";

* {
  margin: 0;
  padding: 0;
  font-family: Cabin;
  font-weight: 700;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.95);
}

.calculator-container {
  border: $container-border;
  position: absolute;
  box-shadow: 0px 0px 10px 5px rgb(141, 53, 153);
  border-radius: 5px;
  .screen-container {
    border: $container-border;
    input {
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      text-align: end;
      padding: 15px;
    }
  }
}

.buttons-container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding-top: 10px;
  button {
    box-shadow: 0px 0px 2px 1px rgb(141, 53, 153);
    border-radius: 10px;
    border-color: rgb(188, 70, 204);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(141, 53, 153);
    transition: 
      transform ease-in-out .2s,
      box-shadow ease-in-out .2s,
      background-color ease-in .2s,
      color ease-in-out .2s .2s;
    cursor: pointer;
  }
  button:hover {
    transform: translateY(2px);
    box-shadow: none;
    background-color: rgb(141, 53, 153);
    color: black;
  }
}
